/applelda_topics.png
/applesentiment_scatter.png
/applevisionlda_topics.png
/applevisionsentiment_scatter.png
/lda_topics.png
/visionprolda_topics.png
/sentiment_scatter.png
/visionprosentiment_scatter.png